@import "../../Assets/style/mixins";
@import "../../Assets/style/variables";

.block-horizon{
    // width: 100%;
    display: grid;
    
    column-gap: 16px;
    flex-wrap: wrap;
    &.horizontal-5{
        grid-template-columns: repeat(5,1fr);
    }
    &.horizontal-4{
        grid-template-columns: repeat(4,1fr);
    }
}
